body p, body h1, body h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

body {
    align-items: center;
    background-color: hsl(270, 20%, 96%);
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.backgroundGradient {
    background: linear-gradient(0.50turn, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 0 0 100% 0;
    height: 519px;
    width: 50%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;     
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;  
}

/* App view */
.app {
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    margin-top: 60px;
    width: 250px;
}

.app__top {
    align-items: center;
    background: linear-gradient(0.75turn, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 20px 20px 5px 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    margin: 10px 10px 0 10px;
    padding: 0 15px 0 15px;
    padding-bottom: 10px;  
}

.app__top--topWhitePlace {
    background-color: white;
    border-radius: 0 0 12px 12px;
    height: 15px;
    width: 140px;  
}

.appProfile {
    align-items: center; 
    display: flex;
    gap: 8px;
    justify-content: space-between;
    margin: 5px 0 1px 0;
    width: 100%;
}

.appProfile__left {
    align-items: center;
    display: flex;
    gap: 8px;
}

.appProfile__arrow {
    border: 2px solid white;
    border-left: 0;
    border-top: 0;
    height: 5px;
    transform: rotate(135deg);
    width: 5px;
}

.appProfile__arrow:hover {
    cursor: pointer;
}

.appProfile__img {
    border-radius: 50%;
    height: 20px;
    outline: 1px hsl(0, 0%, 100%) solid;
}

.appProfile__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.appProfile__name--fullName {
    color: white;
    font-size: 11px;
    font-weight: 500;
    margin: 0;
}

.appProfile__name--status {
    color: hsl(276, 100%, 81%);
    font-size: 8px;
    margin: 0;
}

.appProfile__dots {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.appProfile__dots:hover {
    cursor: pointer;
}

.appProfile__dots--dot {
    background-color: hsl(276, 100%, 81%);
    height: 2px;
    width: 2px;   
}

.app__chat {
    background-color: hsl(270, 20%, 96%);
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    margin: 0px 10px 10px 10px;
    padding: 10px;
}

.app__chat--leftMSG {
    background-color: hsl(276, 100%, 81%, 0.2);
    border-radius: 10px 10px 10px 5px;
    color: hsl(276, 55%, 52%);
    font-size: 9px;
    line-height: 11px;
    margin: 0 0 10px 0;
    padding: 8px;
    text-align: left;
    width: 122px; 
}

.imagesMSG {
    align-self: flex-end;
    display: flex;
    gap: 8px;
    margin: 10px 0 10px 0;
}

.imagesMSG__single {
    border-radius: 10px;
    height: 40px; 
}

.app__chat--rightMSG {
    align-self: flex-end;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px 10px 10px 5px;
    color: hsl(271, 15%, 43%);
    font-size: 9px;
    line-height: 11px;
    margin: 0 0 10px 0;
    text-align: left;
    padding: 8px;
    width: auto;
}

.option {
    align-items: center;
    background: linear-gradient(1.25turn, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 10px 10px 10px 5px;
    display: flex;
    margin: 0 0 10px 0;
    padding: 10px;
    width: 170px;
}

.option__radio {
    appearance: none;
    border-radius: 50%;
    height: 11px;
    outline: 1px solid hsl(289, 100%, 72%);
    width: 11px;
}

.option__radio:hover {
    background-color: hsl(289, 100%, 72%);
    cursor: pointer;
}

.option__radio:checked {
    background-color: hsl(289, 100%, 72%); 
}

.option__description {
    color: hsl(276, 100%, 85%);
    font-size: 9px;
    font-weight: 400;
    margin: 0;
    margin-left: 10px;
}

.option__price {
    color: white;
    font-weight: 700;
    font-size: 13px;
    margin: 0 0 0 60px; 
}

/* Class of option__price */
.second {
    margin-left: 75px;
}


/* Form */
.textbox { 
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px 0 5px 0; 
}

.textbox__Form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.textbox__type {
    align-self: center;
    background: none;
    border: none;
    font-size: 10px;
    margin-left: 20px;
    outline: none;
}

.textbox__type::placeholder {
    color: hsl(206, 6%, 79%);   
}

.textbox__button {
    background-color: hsl(271, 36%, 24%);
    border: none;
    border-radius: 50%;
    color: white;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    margin-right: 4px;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.textbox__button:hover {
    cursor: pointer;
}

/* Description */
.mainHeading {
    color: hsl(271, 36%, 24%);
    font-size: 40px;
    font-weight: 500;
    margin-top: 50px;
    text-align: center;
}

.description {
    color: hsl(270, 7%, 64%);
    font-size: 17px;
    line-height: 30px;
    margin: 0 0 70px 0;
    text-align: center;
}

@media only screen and (min-width: 1440px) {
    body {
        height: 100vh;
    }

    .backgroundGradient {
        border-radius: 0 0 49% 49%;
        height: 85vh;
        left: -100px;
        width: 36.7vw;
    }

    .container {
        flex-direction: row;
        gap: 100px;
    }

    .app {
        margin: 0;
    }

    .mainHeading {
        text-align: left;
    }

    .description {
        text-align: left;
        width: 470px;
    }

    .description br {
        display: none;
    }
}
